@font-face{
  font-family: memories;
  src : url("../fonts/above_mem/Cherolina.ttf");
}

@font-face{
  font-family: date;
  src : url("../fonts/date/date.ttf");
}

@font-face{
  font-family: description;
  src : url("../fonts/description/des.otf");
}

@font-face{
  font-family: caption;
  src : url("../fonts/figcap/cap.ttf");
}

@font-face{
  font-family: heading;
  src : url("../fonts/header/heading.ttf");
}

@font-face{
  font-family: navig;
  src : url('../fonts/Nav/nav.otf');
}


*{
  margin: 0;
  padding: 0;
}


nav{
  font-family: navig;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;  
}

nav a{
    font-family: navig;
    font-size: 24px;
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: background 0.5s ;
}

nav a:hover {
  background-color: #111;
}

nav a.active{
  background-color: rgb(0,0,0);
}

nav a:first-child{
  background-color: rgb(0,0,0);
}

nav a:last-child{
  float: right;
}

.background{
  overflow:hidden;
  padding: 10% 20% 5% 20%;
  background-image: url('../backgrounds/Screenshot from 2020-10-22 14-09-55.png');
  background-repeat: repeat;
}
.wish{
  text-align: center;
  margin: 10px auto;
  display: inline-block;
  float: left;
  width: 50%;
}

.wish h1,p{
  margin: -78px;
  font-weight: normal;
  font-family: heading;
  font-size: 190px;
  text-align: center;
  color: rgb(0,0,0);
  text-shadow: 3px 3px rgba(100,100,100,0.6);
}

/*.wish h1:first-child{
  font-size: 90px;
}*/


.wish p{
  margin: 78px 15px 15px 6px;
  font-size: 40px;
  text-align: right;
  text-shadow: 1px 1px rgba(100,100,100,0.6);
}

.background img{
  margin: -20px 0px 0px 60px ;
  display: inline-block;
  float: left;
  width: 32%;
  border-radius: 10000px;
  border-color: rgba(255,255,255,1);
  border-width: 6px;
  border-style: solid;
}

#memo{
  clear: both;
  display: block;
  margin: 10px 10px 10px 10px;
  font-family: memories;
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  color: rgb(0,0,0);
  text-shadow: 1px 1px rgba(244,194,194,0.6);
}

.images{
  padding: 4% 4%;
  background-image: url('../backgrounds/d7f01cc4572cd5bff8feef542b9a9576.jpg');
  background-repeat: repeat;
  background-size: 100px;
  width: 50%;
  margin: 0 auto;
}

.images img{
  width: 23%;
  margin: 0 auto;
  border-radius: 6px;
  transition: width 0.5s ;
}

.images img:hover{
  width: 24%;
}

footer{
  clear: both;
}
/*.clear{
  clear: left;
}*/

hr{
  display: block;
  margin-top: 20px;
}

footer{
  display: block;
  padding: 1px;
  font-size: 14px;
  text-align: center;
  color: rgb(100,100,100);
}